<%- include('header.ejs') %>

<main class="mw">
  <h2>THE BLOG</h2>
  <h3>My Page</h3>
  <div>ID : <%= user.userid%></div>
  <div>NICK : <%= user.username %></div>
</main>

<%- include('footer.ejs') %>